$green: #40CA19;
$lightGreen: #49DB2B;
$red: #C14218;
$lightRed: #D74A1B;
$blue: #4285F4;
$darkBlue: #669BD7;
$lightBlue: #5A94F5;
$panelBackground: #F5F5F5;
$white75: rgba(255, 255, 255, 0.75);

body {
  font-family: 'Lucida Grande', sans-serif;
  color: #1D1D1D;
  padding: 0 10%;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#outer {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.component-wrapper {
  margin-bottom: 100px;
  padding-top: 120px;
}

.TableOfContents {
  a {
    text-decoration: none;
    font-size: 11px;
    padding: 3px 10px 3px 0;
    color: #AAA;
    transition: all 0.3s ease-in-out;
    &.selected {
      color: $blue;
    }
    &:last-child {
      border: none;
    }
  }
}

header {
  position: fixed;
  border-bottom: 1px solid #DDD;
  padding: 20px 0 10px;
  background: #FFF;
  z-index: 1200;
  h1 {
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    small {
      color: #AAA;
      font-weight: 100;
      font-size: 80%;
      float: right;
    }
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.SpinnerView {
  width: 100%;
  height: 70px;
  position: relative;
}

#wrapper {
  padding-bottom: 400px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Browser {
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-bottom-right-radius: 4px;
  box-shadow: 3px 3px 2px #F5F5F5;
  padding-right: 70px;
  padding-top: 70px;
  min-height: 200px;
  min-width: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  /*font-weight: bold;*/
  text-decoration: underline;
  color: $blue;
  cursor: pointer;
  &:hover {
    color: $darkBlue;
  }
}

h1, h2, h3 {
  padding-left: 1px;
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  color: #666;
  z-index: 10;
}


h3.center {
  text-align: center;
}

h5.align-right {
  text-align: right;
}

h5 {
  color: #888;
  font-size: 11px;
  margin: 10px 0;
}

.Toolbar {
  width: 130%;
  left: -50px;
  height: 48px;
  display: flex;
  top: -3px;
  background: #FAFAFA;
  box-shadow: 0 1px 0 #eeeeee, 0 -1px 0 #eeeeee, inset -10px 0 20px white, inset 10px 0 20px white;
  z-index: -10;
  position: absolute;
  .fa-comment-o {
    position: absolute;
    font-size: 24px;
    left: 81%;
    top: 25%;
    color: #DDD;
  }
}

.StateWrapper {
  h3 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    &.higher {
      top: -20px;
      left: -50px;
      position: relative;
      margin-bottom: 30px;
    }
  }
  .counter {
    opacity: 0.3;
  }
  display: inline-block;
  position: relative;
  float: left;
  margin: 20px 50px 20px 50px;
  &:hover! {}
}

.PanelWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DDD;
  width: 300px;
  background: #F5F5F5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  &:after {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
  }
  &:before {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
    content: '';
    position: absolute;
    right: 10px;
    top: -14px;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #DDD;
  }
}

.PanelGroup {
  overflow: hidden;
  width: 100%;
  &.moved .PanelGroupInner .Panel:first-child {
    opacity: 0.9;
  }
}

.PanelGroupInner {
  display: flex;
  width: 200%;
  background: #333;
}

.Panel, .Window {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $panelBackground;
  transition: opacity 0.3s ease-in-out;
}

.WindowWrapper {
  display: flex;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  width: 350px;
}

.Window {
  .WindowTitlebar {
    padding: 0 10px;
    background: $darkBlue;
    flex-direction: row;
    display: flex;
    align-items: center;
    &.incoming {
      background: $green;
    }
    h5 {
      color: #FFF;
      font-size: 11px;
    }
    .WindowControls {
      display: flex;
      margin-left: auto;
      background: url('images/window-controls.svg') no-repeat center right;
      opacity: 0.8;
      background-size: 75%;
      width: 25%;
      height: 100%;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.VideoCall {
  position: relative;
  display: flex;
  .VideoScreen {
    height: 240px;
    width: 100%;
    background: url('images/drake.png') no-repeat #333;
    background-size: cover;
    position: relative;
    .VideoScreenInner {
      position: absolute;
      z-index: 1000;
      background: url('images/kanye.png') no-repeat #333;
      background-size: cover;
      right: 5px;
      bottom: 5px;
      width: 40%;
      height: 40%;
      box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    }
  }
}

.CallControls {
  position: absolute;
  top: 0;
  height: 22px;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  .right {
    margin-left: auto;
    font-size: 12px;
    color: #FFF;
    padding-right: 10px;
  }
  .button {
    color: #DDD;
    padding: 5px 10px;
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    &.active {
      color: $blue;
    }
    &.end {
      color: #FFF;
      background: rgba(193, 56, 24, 0.85);
      &:hover {
        background: rgba(193, 56, 24, 1.0)
      }
    }
  }
}

.BackButton {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  height: 100%;
  -webkit-transform: translate3d(0px, -10px, 0px);
  transform: translate3d(0px, -10px, 0px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.moved .BackButton {
  opacity: 1;
  -webkit-transform: translate3d(-31px, -10px, 0px);
  transform: translate3d(-31px, -10px, 0px);
}

.Header {
  padding: 20px 10px;
  padding-bottom: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Footer {
  padding: 10px;
  font-size: 12px;
  border-top: 1px solid #D1D1D1;
  background: #EAEAEA;
  color: #7F7F7F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  flex-direction: row;
  div {
    flex: 3;
    padding: 5px 0px;
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
  div.action {
    border-left: 1px solid #CCC;
    padding-left: 10px;
    text-align: center;
    flex: 1;
  }
  &:hover {
    cursor: pointer;
    background: #D9D9D9;
  }
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
  float: right;
}

.List {
  display: flex;
  flex-direction: column;
  .scrollable {
    max-height: 250px;
    overflow: scroll;
  }
}

.Button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  margin: 15px 0 0 0;
  color: #FFF;
  background: #AAA;
  font-weight: bold;
  height: 8px;
  font-size: 12px;
  line-height: 9px;
  border-radius: 3px;
}

.ButtonGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .Button {
    flex: 1;
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.Button {
  &.action {
    background: $green;
    &:hover {
      background: $lightGreen;
    }
    &.cancel {
      background: $red;
      border-color: $lightRed;
    }
  }
  &.cancel {
    background: $red;
  }
  &.action.cancel:hover, &.cancel:hover {
    background: $lightRed;
  }
  &.default {
    background: $blue;
    &:hover {
      background: $lightBlue;
    }
  }
}

.SliderButton {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
  .Button {
    z-index: 10;
  }
  .drawer {
    display: flex;
    align-items: stretch;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.active .drawer {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  .inputButton {
    padding: 13px 10px 0;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    background: $blue;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    flex: 1;
  }
  .textBox {
    margin: 0;
    opacity: 1;
    flex: 2;
    outline: none;
    background: #FFF;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    height: 24px;
    padding: 13px 10px 0;
    border: 1px solid #CCC;
    border-right: none;
    color: #111;
  }
}

.button-animation-enter {
  opacity: 0.1;
  transition: opacity 0.1s;
}

.button-animation-enter-active {
  opacity: 1;
}

.button-animation-leave {
  opacity: 1;
  transition: opacity 0.1s;
}

.button-animation-leave-active {
  opacity: 0;
}

input {
  outline: none;
  border-radius: 4px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  border: 1px solid #CCC;
  margin: 5px 0;
  &.error {
    border-color: $red;
    box-shadow: 0 0 4px $lightRed;
  }
  &[type=range] {
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #F5F5F5;
    outline: 1px solid #F5F5F5;
    outline-offset: -1px;
  }
}

.SearchBarWrapper {
  border-top: 1px solid #DDD;
  display: flex;
  flex-direction: row;
  align-items: center;
  i {
    width: 24px;
    color: #666;
    margin-right: 10px;
  }
}

.SearchBar {
  outline: none;
  border-radius: 14px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  margin: 10px;
  border: 1px solid #CCC;
  color: #BBB;
  box-shadow: inset 0 1px 1px #EEE;
}

.icons {
  cursor: pointer;
  visibility: hidden;
  margin-left: auto;
  padding: 12px 10px;
  border-radius: 30px;
  background: #7ED321;
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    background: #89E029;
  }
  i {
    margin: 0 5px 0 5px;
    &.fa-video-camera {
      color: #FFF;
    }
  }
}

.Profile {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px 10px;
  color: #666;
  font-size: 13px;
  border-top: 1px solid #DDD;
  align-items: center;
  &:hover {
    background: #EEE;
  }
  &.selected {
    background: #D1E8FF;
  }
  &:hover .icons {
    visibility: visible;
  }
  .Dropdown {
    position: absolute;
    right: 10px;
    top: 40%;
    background: #FDFDFD;
    padding: 5px;
    z-index: 1000;
    border-radius: 3px;
    display: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    li {
      margin: 3px 0px;
      padding: 4px 6px;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        border: 1px solid #CCC;
        background: #EEE;
      }
      .fa {
        width: 18px;
        margin-right: 8px;
        color: #777;
      }
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    background: #CCC;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    &.user-1 {
      background: url('images/user-5.jpg');
      background-size: contain;
    }
    &.user-2 {
      background: url('images/user-1.jpg');
      background-size: contain;
    }
    &.user-3 {
      background: url('images/user-3.jpg');
      background-size: contain;
    }
    &.user-4 {
      background: url('images/user-4.jpg');
      background-size: contain;
    }
    &.user-0 {
      background: url('images/user-2.jpg');
      background-size: contain;
    }
    img {
      width: 100%;
    }
  }
  .username {
    font-size: 14px;
    line-height: 20px;
  }
  .email {
    opacity: 0.6;
    font-size: 11px;
  }
}

.List:first-child {
  border-top: none;
}

.NewCallView {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 89%;
}

.NewCallView.Quick {
  .inputControls {
    display: flex;
    align-items: center;
    input {
      flex: 4;
    }
    span {
      padding-left: 10px;
      color: #BBB;
      cursor: pointer;
      i.true {
        color: $blue;
      }
    }
  }
  .ButtonGroup {
    margin: 10px 0;
  }
  h5 {
    margin: 5px 0;
    cursor: pointer;
  }
  .Customize {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #DDD;
    flex-direction: column;
    display: none;
    &.opened {
      display: flex;
    }
  }
}

.TabBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  background: #FAFAFA;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  li {
    flex: 1;
    text-align: center;
    color: #CCC;
    border-right: 1px solid #CCC;
    padding: 0 10px;
    cursor: pointer;
    a i {
      color: #CCC;
    }
    &:hover i {
      color: #444;
    }
    &.active i {
      color: $blue;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.HistoryList .Header, .InvitationList .Header {
  padding: 5px 10px;
  color: #888;
  margin: 0;
  border-bottom: 1px solid #CCC;
  background: #EEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 18px;
  .Button {
    margin: 0;
    padding: 5px 10px;
    font-weight: normal;
    background: transparent;
    border: 1px solid #CCC;
    color: #AAA;
    margin-left: auto;
    &:hover {
      background: #FAFAFA;
    };
  }
}

.CallHistory {
  max-height: 300px;
  overflow: scroll;
  li {
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .CallDetails {
    font-size: 10px;
    color: #BBB;
  }
  li {
    .fa {
      font-size: 75%;
    }
    .right {
      margin-left: auto;
    }
    &.accepted .fa {
      color: $green;
    }
    &.missed .fa {
      color: $red;
    }
    &:hover {
      background: #EEE;
    }
  }
}

.InvitationList {
  overflow: hidden;
  .Invitation {
    padding: 10px 10px;
    border-bottom: 1px solid #DDD;
    position: relative;
    &:hover {
      background: #EEE;
      cursor: pointer;
    }

    h3 small {
      font-style: italic;
      // text-decoration: underline;
      font-size: 10px;
      font-weight: normal;
      float: right;
    }

    transition: transform 0.2s ease-in-out;
    &.active:hover {
      transform: translate3d(-110px, 0, 0);
    }

    .progressWrapper {
      background: #DDD;
      height: 7px;
      flex: 1;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 5px;
      .progressBar {
        height: 100%;
        background: $blue;
      }
    }

    .icons {
      background: transparent;
      color: $red;
      padding: 0px 0px 3px 10px;
      flex: 0 0 18px !important;
    }

    .icons.right{
      width: 100px;
      left: 100%;
      top: 0;
      bottom: 0;
      box-shadow: 0 1px 0 #DDD;
      border-radius: 0;
      display: flex;
      align-items: center;
      visibility: visible;
      background: $red;
      position: absolute;
      color: #FFF;
      font-size: 11px;
      &:hover {
        background: $lightRed;
      }
      i {
        text-align: left;
        margin: 0;
        width: 100%;
      }
    }

    &:hover {
      .icons {
        visibility: visible;
      }
    }

    &.expired {
      h5, h3 {
        color: #999;
      }
    }
    .expiryInfo {
      display: flex;
      flex-direction: row;
      div {
        flex: 1
      }
      small {
        font-size: 9px;
      }
      h5 {
        margin: 0;
        flex: 1;
        line-height: 8px;
      }
    }
  }
}

.SmallProfile {
  padding: 5px;
  margin: 0;
  border: none;
  &:hover {
    background: transparent;
  }
  .email, .username {
    font-size: 90%;
  }
  .avatar {
    width: 24px;
    height: 24px;
  }
}


.IncomingCall {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url('images/drake.png') no-repeat;
    background-size: cover;
    margin-bottom: 15px;
  }
}

/*
Tipr 1.0.1
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/

.tipr_content {
  font: 10px / 1.7 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  font-weight: bold;
  background-color: #222;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 60px;
  max-width: 300px;
  white-space: nowrap;
  text-align: center;
}

.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
  border-radius: 3px;
}

.tipr_container_top {
  display: none;
  position: absolute;
  margin-top: -50px;
  z-index: 1000;
  border-radius: 3px;
  background: transparent;
}

.tipr_point_top, .tipr_point_bottom {
  position: relative;
  /*border: 1px solid #dcdcdc;*/
}

.tipr_point_top {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-top-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-top-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}

.tipr_point_bottom {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-bottom-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-bottom-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}
