body {
  font-family: 'Lucida Grande', sans-serif;
  color: #1D1D1D;
  padding: 20px 10%;
  -moz-user-select: none;
  -webkit-user-select: none; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

#wrapper {
  padding-bottom: 400px;
  display: flex;
  flex-direction: column; }

.component-wrapper {
  margin-bottom: 100px; }

a {
  /*font-weight: bold;*/
  text-decoration: underline;
  color: #72A8E6;
  cursor: pointer; }
  a:hover {
    color: #669BD7; }

h1, h2, h3 {
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  color: #666;
  z-index: 10; }

h1 {
  color: #333;
  font-weight: bold;
  margin-bottom: 50px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px; }
  h1 small {
    color: #AAA;
    font-weight: 100;
    font-size: 80%;
    float: right; }

h5 {
  color: #888;
  font-size: 11px;
  margin: 10px 0; }

.Toolbar {
  width: 130%;
  left: -50px;
  height: 48px;
  display: flex;
  top: -3px;
  background: #FAFAFA;
  box-shadow: 0 1px 0 #eeeeee, 0 -1px 0 #eeeeee, inset -10px 0 20px white, inset 10px 0 20px white;
  z-index: -10;
  position: absolute; }
  .Toolbar .fa-comment-o {
    position: absolute;
    font-size: 24px;
    left: 81%;
    top: 25%;
    color: #DDD; }

.StateWrapper {
  display: inline-block;
  position: relative;
  float: left;
  margin: 20px 50px 20px 50px; }
  .StateWrapper h3 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px; }
    .StateWrapper h3.higher {
      top: -20px;
      left: -50px;
      position: relative;
      margin-bottom: 30px; }
  .StateWrapper .counter {
    opacity: 0.3; }

.PanelWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DDD;
  width: 300px;
  background: #F5F5F5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  .PanelWrapper:after {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA; }
  .PanelWrapper:before {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
    content: '';
    position: absolute;
    right: 10px;
    top: -14px;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #DDD; }

.PanelGroup {
  overflow: hidden;
  width: 100%; }
  .PanelGroup.moved .PanelGroupInner .Panel:first-child {
    opacity: 0.9; }

.PanelGroupInner {
  display: flex;
  width: 200%;
  background: #333; }

.Panel {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #F5F5F5;
  transition: opacity 0.3s ease-in-out; }

.BackButton {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  height: 100%;
  -webkit-transform: translate3d(0px, -10px, 0px);
  transform: translate3d(0px, -10px, 0px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  transition: all 0.3s ease-in-out; }

.moved .BackButton {
  opacity: 1;
  -webkit-transform: translate3d(-31px, -10px, 0px);
  transform: translate3d(-31px, -10px, 0px); }

.Header {
  padding: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.Footer {
  padding: 10px 20px;
  font-size: 12px;
  border-top: 1px solid #D1D1D1;
  background: #EAEAEA;
  color: #7F7F7F;
  display: flex;
  align-items: center;
  margin-top: auto;
  flex-direction: column; }
  .Footer:hover {
    cursor: pointer;
    background: #D9D9D9; }

.bold {
  font-weight: bold; }

.right {
  float: right; }

.List {
  display: flex;
  flex-direction: column; }
  .List .scrollable {
    max-height: 300px;
    overflow: scroll; }

.Button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  margin: 15px 0 0 0;
  color: #FFF;
  background: #AAA;
  font-weight: bold;
  height: 8px;
  font-size: 12px;
  line-height: 9px;
  border-radius: 3px; }

.ButtonGroup {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px; }
  .ButtonGroup .Button {
    flex: 1;
    margin: 0 5px; }
    .ButtonGroup .Button:first-child {
      margin-left: 0; }
    .ButtonGroup .Button:last-child {
      margin-right: 0; }

.Button.action {
  background: #40CA19;
  /*border: 1px solid #40B71D;*/ }
  .Button.action:hover {
    background: #49DB2B; }
  .Button.action.cancel {
    background: #D74A1B;
    border-color: #C14218; }
.Button.cancel {
  background: #D74A1B;
  border-color: #C14218; }
.Button.action.cancel:hover, .Button.cancel:hover {
  background: #E76236; }
.Button.default {
  background: #19A1CA;
  /*border: 1px solid #168EB2;*/ }
  .Button.default:hover {
    background: #27B4DE; }

.SliderButton {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px; }
  .SliderButton .Button {
    z-index: 10; }
  .SliderButton .drawer {
    display: flex;
    align-items: stretch;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  .SliderButton.active .drawer {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }
  .SliderButton .inputButton {
    padding: 13px 10px 0;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    background: #3879D9;
    border-bottom: 2px solid #2B64B7;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    flex: 1; }
  .SliderButton .textBox {
    margin: 0;
    opacity: 1;
    flex: 2;
    outline: none;
    background: #FFF;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    height: 24px;
    padding: 13px 10px 0;
    border: 1px solid #CCC;
    border-right: none;
    color: #111; }

.button-animation-enter {
  opacity: 0.1;
  transition: opacity 0.1s; }

.button-animation-enter-active {
  opacity: 1; }

.button-animation-leave {
  opacity: 1;
  transition: opacity 0.1s; }

.button-animation-leave-active {
  opacity: 0; }

input {
  outline: none;
  border-radius: 4px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  border: 1px solid #CCC;
  margin: 5px 0; }
  input.error {
    border-color: #D74A1B;
    box-shadow: 0 0 4px #D74A1B; }
  input[type=range] {
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #F5F5F5;
    outline: 1px solid #F5F5F5;
    outline-offset: -1px; }

.SearchBarWrapper {
  display: flex; }
  .SearchBarWrapper i {
    width: 24px;
    line-height: 27px;
    color: #666;
    margin-right: 10px; }

.SearchBar {
  outline: none;
  border-radius: 14px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  margin: 0 20px 10px 20px;
  border: 1px solid #CCC;
  color: #BBB; }

.Profile {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  color: #666;
  font-size: 13px;
  border-top: 1px solid #DDD;
  align-items: center; }
  .Profile:hover {
    background: #EEE; }
  .Profile.selected {
    background: #D1E8FF; }
  .Profile:hover .icons {
    visibility: visible; }
  .Profile .icons {
    cursor: pointer;
    visibility: hidden;
    margin-left: auto;
    padding: 12px 10px;
    border-radius: 30px;
    background: #7ED321;
    color: rgba(255, 255, 255, 0.8); }
    .Profile .icons:hover {
      background: #89E029; }
    .Profile .icons i {
      margin: 0 5px 0 5px; }
      .Profile .icons i.fa-video-camera {
        color: #FFF; }
  .Profile .Dropdown {
    position: absolute;
    right: 10px;
    top: 40%;
    background: #FDFDFD;
    padding: 5px;
    z-index: 1000;
    border-radius: 3px;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
    .Profile .Dropdown li {
      margin: 3px 0px;
      padding: 4px 6px;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer; }
      .Profile .Dropdown li:hover {
        border: 1px solid #CCC;
        background: #EEE; }
      .Profile .Dropdown li .fa {
        width: 18px;
        margin-right: 8px;
        color: #777; }
  .Profile .avatar {
    width: 40px;
    height: 40px;
    background: #CCC;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden; }
    .Profile .avatar img {
      width: 100%; }
  .Profile .username {
    font-size: 14px;
    line-height: 20px; }
  .Profile .email {
    opacity: 0.6;
    font-size: 12px; }

.List:first-child {
  border-top: none; }

.NewCallView {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 89%; }

.TabBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  background: #FAFAFA;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }
  .TabBar li {
    flex: 1;
    text-align: center;
    color: #CCC;
    border-right: 1px solid #CCC;
    padding: 0 10px;
    cursor: pointer; }
    .TabBar li:hover {
      color: #444; }
    .TabBar li.active {
      color: #4285F4; }
    .TabBar li:last-child {
      border-right: 0; }

.HistoryList .Header {
  padding: 5px 10px;
  color: #888;
  margin: 0;
  border-bottom: 1px solid #CCC;
  background: #EEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 18px; }
  .HistoryList .Header .Button {
    margin: 0;
    padding: 5px 10px;
    font-weight: normal;
    background: transparent;
    border: 1px solid #CCC;
    color: #AAA;
    margin-left: auto; }
    .HistoryList .Header .Button:hover {
      background: #FAFAFA; }

.CallHistory {
  max-height: 300px;
  overflow: scroll; }
  .CallHistory li {
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .CallHistory .CallDetails {
    font-size: 10px;
    color: #BBB; }
  .CallHistory li .fa {
    font-size: 75%; }
  .CallHistory li .right {
    margin-left: auto; }
  .CallHistory li.accepted .fa {
    color: #40CA19; }
  .CallHistory li.missed .fa {
    color: #D74A1B; }
  .CallHistory li:hover {
    background: #EEE; }

.SmallProfile {
  padding: 5px;
  margin: 0;
  border: none; }
  .SmallProfile:hover {
    background: transparent; }
  .SmallProfile .email, .SmallProfile .username {
    font-size: 90%; }
  .SmallProfile .avatar {
    width: 24px;
    height: 24px; }

/*
Tipr 1.0.1
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/
.tipr_content {
  font: 10px / 1.7 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  font-weight: bold;
  background-color: #222;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 60px;
  max-width: 300px;
  white-space: nowrap;
  text-align: center; }

.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
  border-radius: 3px; }

.tipr_container_top {
  display: none;
  position: absolute;
  margin-top: -50px;
  z-index: 1000;
  border-radius: 3px;
  background: transparent; }

.tipr_point_top, .tipr_point_bottom {
  position: relative;
  /*border: 1px solid #dcdcdc;*/ }

.tipr_point_top:after, .tipr_point_top:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  top: 100%;
  content: "";
  height: 0;
  width: 0; }
.tipr_point_top:after {
  border-top-color: #222;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }
.tipr_point_top:before {
  /*border-top-color: #dcdcdc;*/
  border-width: 9px;
  left: 50%;
  margin-left: -9px; }

.tipr_point_bottom:after, .tipr_point_bottom:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  bottom: 100%;
  content: "";
  height: 0;
  width: 0; }
.tipr_point_bottom:after {
  border-bottom-color: #222;
  border-width: 8px;
  left: 50%;
  margin-left: -8px; }
.tipr_point_bottom:before {
  /*border-bottom-color: #dcdcdc;*/
  border-width: 9px;
  left: 50%;
  margin-left: -9px; }
