$green: #74BF43;
$lightGreen: #6CB23E;
$red: #D74345;
$lightRed: #C43C3E;
$blue: #0095DD;
$lightBlue: #008ACB;
$darkBlue: #006B9D;
$highlightBlue: #73DAFB;
$teal: #6AA974;
$panelBackground: #FBFBFB;
$windowTitleBar: #222;
$white75: rgba(255, 255, 255, 0.75);
$yellow: #EDC200;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

hr {
  width: 100%;
  flex: 1;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.05);
}

small {
  font-size: 90%;
  opacity: 0.8;
}

label {
  font-size: 10px;
  color: #777;
  margin-top: 10px;
}

.link-button {
  padding: 4px 9px;
  font-size: 10px;
  font-weight: bold;
  color: $darkBlue;
  background: #EEE;
  border-radius: 2px;
  margin: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #FFF;
    background: $darkBlue;
  }
}

body {
  font-family: 'Lucida Grande', sans-serif;
  color: #1D1D1D;
  padding: 0 10%;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.Highlighted {
  position: relative;
}

.Highlighted:before {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  background: rgba(51, 152, 194, 0.29);
  border: 3px solid rgba(227, 242, 248, 0.85);
  border-radius: 50%;
  z-index: 2500;
}


.LegalPanel {
  .Quick, .Footer {
    // opacity: 0.3;
    // transition: none;
    // pointer-events: none;
    // .Button {
    //   background: #AAA;
    // }
  }
}

.Legal {
 display: flex;
 padding: 3px 10px 10px 10px;
 background: #FFF;
 align-items: center;
 text-align: center;
 opacity: 0.5;
 transition: opacity 0.3s;
 &:hover {
  opacity: 1;
 }
 .Button {
   margin: 0;
   width: 100px;
 }
 p {
  line-height: 14px;
  font-size: 8px;
  color: #555;
  padding: 0 30px;
 }
}

#outer {
  width: 90%;
  padding-bottom: 200px;
}

.component-wrapper {
  padding-top: 135px;
  padding-bottom: 60px;
  display: flex;
  .NoteWrapper {
    width: 33%;
    height: 100%;
    top: 15px;
    position: relative;
    margin-left: auto;
  }
  .Notes {
    a {
      text-decoration: none;
    }
    &:before {
      content: 'NOTES';
      padding-bottom: 10px;
      font-size: 10px;
      color: #CCC;
      position: absolute;
      top: 3px;
      right: 3px;
    }
    p {
      line-height: 130%;
      margin-bottom: 10px;
    }
    color: #444;
    font-size: 70%;
    border: 1px solid #DDD;
    border-radius: 2px;
    background: $panelBackground;
    padding: 20px;
    em {
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 18px;
    }

    h4 {
      color: #888;
      text-transform: uppercase;
      font-size: 90%;
      border-top: 1px solid #CCC;
      padding-top: 8px;
    }

    ul {
      list-style-type: circle;
    }
    ol {
      list-style-type: decimal;
    }
    ul, ol {
      color: #666;
      line-height: 16px;
    }
  }
}

.TableOfContents {
  a {
    text-decoration: none;
    font-size: 11px;
    padding: 3px 10px 3px 0;
    color: #AAA;
    transition: all 0.3s ease-in-out;
    &:after {
      content: '•';
      padding-left: 10px;
    }
    &.selected {
      color: $blue;
    }
    &:last-child {
      &:after {
        content: none;
      }
      border: none;
    }
  }
}

header {
  position: fixed;
  border-bottom: 1px solid #DDD;
  padding: 20px 0 10px;
  background: #FFF;
  z-index: 1200;
  width: 75%;
  h1 {
    display: flex;
    align-items: center;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    img {
    }
    small {
      color: #AAA;
      font-weight: 100;
      font-size: 80%;
    }
    .right {
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
  }
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.SpinnerView {
  width: 100%;
  height: 70px;
  position: relative;
}

.Browser {
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-bottom-right-radius: 4px;
  box-shadow: 3px 3px 2px #F5F5F5;
  padding-right: 70px;
  padding-top: 70px;
  min-width: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

a {
  /*font-weight: bold;*/
  text-decoration: underline;
  color: $blue;
  cursor: pointer;
  &:hover {
    color: $darkBlue;
  }
}

h1, h2, h3 {
  padding-left: 1px;
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  color: #666;
  z-index: 10;
}


h3.center {
  text-align: center;
}

h5.align-right {
  text-align: right;
}

h5 {
  color: #888;
  font-size: 11px;
  margin: 10px 0;
}

.Toolbar {
  width: 130%;
  left: -50px;
  height: 48px;
  display: flex;
  top: -3px;
  background: #FAFAFA;
  box-shadow: 0 1px 0 #eeeeee, 0 -1px 0 #eeeeee, inset -10px 0 20px white, inset 10px 0 20px white;
  z-index: -10;
  position: absolute;
  .fa-comment-o {
    position: absolute;
    font-size: 24px;
    left: 81%;
    top: 25%;
    color: #DDD;
  }
}

.StateWrapper {
  h3 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
    &.left {
      position: relative;
      left: -50px;
    }
    &.higher {
      position: relative;
      left: -50px;
      top: -20px;
      margin-bottom: 30px;
    }
  }
  .counter {
    opacity: 0.3;
  }
  display: inline-block;
  position: relative;
  float: left;
  margin: 20px 50px 20px 50px;
  &:hover! {}
}

.PanelWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border: 1px solid #DDD;
  width: 300px;
  background: #F5F5F5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  &:after {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
  }
  &:before {
    content: '';
    position: absolute;
    right: 8px;
    top: -12.5px;
    height: 0px;
    width: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 15px solid #FAFAFA;
    content: '';
    position: absolute;
    right: 10px;
    top: -14px;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 13px solid #DDD;
  }
}

.PanelGroup {
  overflow: hidden;
  width: 100%;
  &.moved .PanelGroupInner .Panel:first-child {
    opacity: 0.9;
  }
}

.PanelGroupInner {
  display: flex;
  width: 200%;
}

.Inner {
  flex: 1;
  padding: 20px 10px;
}

.Panel, .Window {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: $panelBackground;
  transition: opacity 0.3s ease-in-out;
  &.Contacts {
    background: $panelBackground;
    .List {
      background: $panelBackground;
    }
  }
}

.WindowWrapper {
  display: flex;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 300px;
}

.Window {
  border-radius: 4px;
  &.InCall {
    .WindowTitlebar {
      background: $windowTitleBar
    }

    .WindowBody {
      .avatar {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
      }
      h3 {
        color: #FFF;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
      }
    }
  }
  .WindowTitlebar {
    padding: 0 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    &.incoming {
      background: $green;
    }
    h5 {
      color: #888;
      font-size: 11px;
    }
    .WindowControls {
      display: flex;
      margin-left: auto;
      background: url('images/window-controls.png') no-repeat center right;
      background-size: 60%;
      width: 25%;
      height: 100%;
    }
  }
}

.AudioCall {
  position: relative;
  display: flex;
  height: 26px;
  .CallControls {
    background: #111;
    border: none;
    .button.active {
      color: #FFF;
      background: $blue;
    }
  }
  .AudioScreen {
    display: flex;
    padding: 10px;
  }
}

.VideoCall {
  position: relative;
  display: flex;
  &.Hold {
    .VideoScreen {
      background: url('images/drake-hold.png') #333;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      .floatingText {
        top: -20px;
        position: relative;
        color: #EEE;
        background: rgba(0,0,0,0.6);
        border-radius: 20px;
        padding: 10px 20px;
      }
      i {
        padding-right: 10px;
      }
    }
  }
  .VideoScreen {
    height: 240px;
    width: 100%;
    background: url('images/drake.png') no-repeat #333;
    background-size: cover;
    position: relative;
    .VideoScreenInner {
      position: absolute;
      z-index: 1000;
      background: url('images/kanye.png') no-repeat #333;
      background-size: cover;
      right: 5px;
      bottom: 5px;
      width: 40%;
      height: 40%;
      box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    }
  }
}

.CallControls {
  position: absolute;
  top: 0;
  // height: 22px;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  .right {
    margin-left: auto;
    font-size: 12px;
    color: #FFF;
    padding-right: 10px;
  }
  .button {
    color: #DDD;
    padding: 7px 10px;
    font-size: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    &.active {
      color: $blue;
    }
    &.end {
      color: #FFF;
      background: rgba(193, 56, 24, 0.85);
      &:hover {
        background: rgba(193, 56, 24, 1.0)
      }
    }
  }
}

.BackButton {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  height: 100%;
  -webkit-transform: translate3d(0px, -10px, 0px);
  transform: translate3d(0px, -10px, 0px);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.moved .BackButton {
  opacity: 1;
  -webkit-transform: translate3d(-31px, -10px, 0px);
  transform: translate3d(-31px, -10px, 0px);
}

.Header {
  padding: 20px 10px;
  padding-bottom: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#precall, #precall-firstrun {
  .avatar {
    background: url('images/avatar-color.png') no-repeat;
    background-size: cover;
  }
}
.Footer {
  padding: 5px 10px;
  font-size: 12px;
  border-top: 1px solid #D1D1D1;
  background: #EAEAEA;
  color: #7F7F7F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  flex-direction: row;
  .avatar {
    background: url('images/drake.png') no-repeat;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    background-size: cover;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
    flex: 32px 32px 32px;
    position: relative;
  }
  .center {
    color: #222;
    width: 100%;
    display: flex;
    align-items: center;
    .username:hover {
      color: $lightBlue;
    }
  }
  .subtle {
    padding-right: 10px;
    margin-left: auto;
    font-size: 11px;
    color: #999;
    font-weight: normal;
  }
  .Dropdown {
    position: absolute;
    left: 15px;
    top: -8px;
    right: auto;
    li {
      white-space: nowrap;
    }
    li i {
      color: $lightGreen;
      &.fa-circle-o {
        color: #888;
      }
    }
  }
  .userDetails {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 14px;
  }
  div {
    flex: 15;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    position: relative;
    .statusWrapper {
      border: 1px solid transparent;
      padding: 2px 4px;
      margin-left: -4px;
      margin-top: 2px;
      &:hover {
        border: 1px solid #DDD;
        background: #F1F1F1;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .status-text {
      font-weight: normal;
      font-size: 10px;
      color: #888;
    }
    .status-icon {
      padding-left: 5px;
      flex: 0 0 18px;
      cursor: pointer;
      i {
        color: $lightGreen;
        font-size: 9px;
        &.fa-circle-o {
          color: #888;
        }
      }
    }
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
  div.action {
    border-left: 1px solid #CCC;
    padding-left: 10px;
    justify-content: center;
    flex: 1;
    cursor: pointer;
    i.active {
      color: $blue;
    }
    .Dropdown {
      right: initial;
      left: 29px;
      li a {
        color: #7F7F7F;
        font-weight: normal;
      }
      li i {
        color: #333;
      }
    }
  }
  &:hover {
  }
  input {
    margin: 0;
    border: none;
    flex: 0 0 75%;
    height: 100%;
    padding: 4px 10px;
  }
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
  float: right;
}

.ContactManagement {
  display: flex;
  flex-direction: column;
  .ContactManagementView {
    background: $panelBackground;
    flex-direction: column;
    display: flex;
    padding: 10px;
    .NewContactView {
      display: flex;
      flex-direction: column;
    }
  }
}

.ListWrapper {
  overflow-x: hidden;
  overflow-y: visible;
}
.ListPanels {
  display: flex;
  width: 200%;
  flex-direction: row;
  & > div {
    flex: 0 0 50%;
  }
}

.EditContact {
  background: $panelBackground;
  .Form {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .Header {
    border-top: 1px solid #CCC;
  }
}

.List {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-in-out;
  &.faded {
    opacity: 0.3;
  }
  .scrollable {
    // max-height: 300px;
    // overflow: scroll;
  }
  h3 {
    margin: 0;
    border-bottom: none;
    border-top: 1px solid #CCC;
  }
}

.Button {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 13px 5px;
  margin: 15px 0 0 0;
  color: #333333;
  background: #FBFBFB;
  border: 1px solid #C1C1C1;
  height: 8px;
  font-size: 12px;
  line-height: 0px;
  border-radius: 2px;
  white-space: nowrap;
  .fa {
    color: #FFF;
    padding: 0 10px;
  }
  .chevron {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 8px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    line-height: 15px;
  }
}

.ButtonGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  .Button {
    flex: 1;
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.Button {
  &.action {
    background: $green;
    border: none;
    color: #FFF;
    &:hover {
      background: $lightGreen;
    }
    &.cancel {
      border: none;
      background: $red;
      border-color: $lightRed;
    }
  }
  &.cancel {
    border: none;
    background: $red;
    color: #FFF;
  }
  &.emphasis {
    background: $blue;
    color: #FFF;
    border: none;
    &:hover {
      background: $lightBlue;
    }
  }
  &.action.cancel:hover, &.cancel:hover {
    background: $lightRed;
    color: #FFF;
  }
  &.default {
    background: #FBFBFB;
    color: #333;
    border: 1px solid #C1C1C1;
    &:hover {
      background: #EBEBEB;
    }
  }
  &.default-active {
    background: #CCC;
    color: #111;
  }
}

.SliderButton {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
  .Button {
    z-index: 10;
  }
  .drawer {
    display: flex;
    align-items: stretch;
    transition: all 0.1s ease-in-out;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.active .drawer {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  .inputButton {
    padding: 13px 10px 0;
    border-radius: 0px;
    border-bottom-right-radius: 4px;
    background: $blue;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    flex: 1;
  }
  .textBox {
    margin: 0;
    opacity: 1;
    flex: 2;
    outline: none;
    background: #FFF;
    border-radius: 0px;
    border-bottom-left-radius: 4px;
    height: 24px;
    padding: 13px 10px 0;
    border: 1px solid #CCC;
    border-right: none;
    color: #111;
  }
}

.button-animation-enter {
  opacity: 0.1;
  transition: opacity 0.1s;
}

.button-animation-enter-active {
  opacity: 1;
}

.button-animation-leave {
  opacity: 1;
  transition: opacity 0.1s;
}

.button-animation-leave-active {
  opacity: 0;
}

input {
  outline: none;
  border-radius: 2px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  border: 1px solid #CCC;
  margin: 5px 0;
  &.error {
    border-color: $red;
    box-shadow: 0 0 4px $lightRed;
  }
  &[type=range] {
    border: none;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #F5F5F5;
    outline: 1px solid #F5F5F5;
    outline-offset: -1px;
  }
}

.SearchBarWrapper {
  border-top: 1px solid #DDD;
  display: flex;
  flex-direction: row;
  align-items: center;
  i {
    width: 24px;
    color: #666;
    margin-right: 10px;
  }
}

.SearchBar {
  outline: none;
  border-radius: 14px;
  height: 24px;
  flex: 24px;
  padding: 0 10px;
  margin: 10px;
  border: 1px solid #CCC;
  color: #BBB;
  box-shadow: inset 0 1px 1px #EEE;
}

.icons {
  cursor: pointer;
  visibility: hidden;
  margin-left: auto;
  padding: 12px 10px;
  border-radius: 30px;
  background: #7ED321;
  color: rgba(255, 255, 255, 0.8);
  &:hover {
    background: #89E029;
  }
  i {
    margin: 0 5px 0 5px;
    &.fa-video-camera {
      color: #FFF;
    }
  }
}

.Profile {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 5px 10px;
  color: #666;
  font-size: 13px;
  border-top: 1px solid #DDD;
  &.blocked {
    .username {
      color: $red;
    }
  }
  align-items: center;
  &:hover {
    background: #EEE;
  }
  &.selected {
    background: #EBEBEB;
  }
  &:hover .icons {
    visibility: visible;
    z-index: 1000;
  }
  .avatar {
    width: 40px;
    height: 40px;
    background: #CCC;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    &.user-1 {
      background: url('images/user-5.jpg');
      background-size: contain;
    }
    &.user-2 {
      background: url('images/user-1.jpg');
      background-size: contain;
    }
    &.user-3 {
      background: url('images/user-3.jpg');
      background-size: contain;
    }
    &.user-4 {
      background: url('images/user-4.jpg');
      background-size: contain;
    }
    &.user-0 {
      background: url('images/user-2.jpg');
      background-size: contain;
    }
    img {
      width: 100%;
    }
  }
  .username {
    font-size: 12px;
    line-height: 20px;
    color: #222;
    font-weight: normal;
    strong {
      font-weight: bold;
    }
    i.fa-minus-circle {
      padding-left: 3px;
    }
    i.fa-google {
      position: absolute;
      right: 10px;
      top: 35%;
      width: 14px;
      height: 14px;
      background: rgba(0,0,0,0.2);
      border-radius: 50%;
      line-height: 16px;
      color: #FFF;
      text-align: center;
      font-size: 10px;
    }
  }
  .email {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    i.fa {
      padding-right: 5px;
      color: $lightBlue;
      opacity: 0.85;
    }
  }
  .datetime {
    opacity: 0.4;
    line-height: 16px;
    font-size: 9px;
  }
}

.Dropdown {
  position: absolute;
  right: 10px;
  top: 40%;
  background: #FDFDFD;
  padding: 5px;
  z-index: 1000;
  border-radius: 2px;
  display: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  li {
    margin: 3px 0px;
    padding: 4px 6px;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      border: 1px solid #CCC;
      background: #EEE;
    }
    .fa {
      width: 18px;
      margin-right: 8px;
      color: #777;
    }
  }
}

.List:first-child {
  border-top: none;
}

.NewCallView {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.NewCallView.Quick {
  .label {
    color: #999;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0;
    small {
      visibility: hidden;
      cursor: pointer;
      text-decoration: underline;
    }
    &:hover {
      small {
        visibility: visible;
      }
    }
  }
  .inputControls {
    display: flex;
    align-items: center;
    input {
      flex: 4;
    }
    span {
      padding-left: 10px;
      color: #BBB;
      cursor: pointer;
      i.true {
        color: $blue;
      }
    }
  }
  .ButtonGroup {
    margin: 10px 0 0;
  }
  h5 {
    margin: 5px 0;
    cursor: pointer;
  }
  .Customize {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px dotted #DDD;
    flex-direction: column;
    display: none;
    &.opened {
      display: flex;
    }
  }
}

.TabBar {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  background: #FAFAFA;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  li {
    flex: 1;
    text-align: center;
    color: #CCC;
    border-right: 1px solid #CCC;
    padding: 0 10px;
    cursor: pointer;
    a i {
      color: #CCC;
    }
    &:hover i {
      color: #444;
    }
    &.active i {
      color: $blue;
    }
    &:last-child {
      border-right: 0;
    }
  }
}

.Header {
  padding: 5px 10px;
  color: #888;
  margin: 0;
  border-bottom: 1px solid #CCC;
  background: #EEE;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 24px;
  .Button {
    margin: 0;
    padding: 9px 10px;
    font-weight: normal;
    // background: transparent;
    // border: 1px solid #CCC;
    // color: #AAA;
    margin-left: auto;
    &:hover {
      background: #FAFAFA;
    };
  }
}

.CallHistory {
  max-height: 300px;
  overflow: scroll;
  li {
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .CallDetails {
    font-size: 10px;
    color: #BBB;
  }
  li {
    .fa {
      font-size: 75%;
    }
    .right {
      margin-left: auto;
    }
    &.accepted .fa {
      color: $green;
      &.fa-link {
        color: $blue;
      }
    }
    &.missed {
      .username, .email, .CallDetails {
        color: $red;
      }
      .fa {
         color: $red;
      }
      &.fa-link {
        color: $blue;
      }
    }
    &:hover {
      background: #EEE;
    }
  }
}

.InvitationList {
  overflow: hidden;
  .Invitation {
    padding: 10px 10px;
    border-bottom: 1px solid #DDD;
    position: relative;
    &:hover {
      background: #EEE;
      cursor: pointer;
    }

    h3 small {
      font-style: italic;
      // text-decoration: underline;
      font-size: 10px;
      font-weight: normal;
      float: right;
    }

    transition: transform 0.2s ease-in-out;
    &.active:hover {
      transform: translate3d(-110px, 0, 0);
    }

    .progressWrapper {
      background: #DDD;
      height: 7px;
      flex: 1;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 5px;
      .progressBar {
        height: 100%;
        background: $blue;
      }
    }

    .icons {
      background: transparent;
      color: $red;
      padding: 0px 0px 3px 10px;
      flex: 0 0 18px !important;
    }

    .icons.right{
      width: 100px;
      left: 100%;
      top: 0;
      bottom: 0;
      box-shadow: 0 1px 0 #DDD;
      border-radius: 0;
      display: flex;
      align-items: center;
      visibility: visible;
      background: $red;
      position: absolute;
      color: #FFF;
      font-size: 11px;
      &:hover {
        background: $lightRed;
      }
      i {
        text-align: left;
        margin: 0;
        width: 100%;
      }
    }

    &:hover {
      .icons {
        visibility: visible;
      }
    }

    &.expired {
      h5, h3 {
        color: #999;
      }
    }
    .expiryInfo {
      display: flex;
      flex-direction: row;
      div {
        flex: 1
      }
      small {
        font-size: 9px;
      }
      h5 {
        margin: 0;
        flex: 1;
        line-height: 8px;
      }
    }
  }
}

.SmallProfile {
  padding: 5px;
  margin: 0;
  border: none;
  &:hover {
    background: transparent;
  }
  .email, .username {
    font-size: 90%;
  }
  .avatar {
    width: 24px;
    height: 24px;
  }
}

.IncomingCall, .StartCall {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: url('images/kanye-blur.png') top center;
  background-size: cover;
  &.Unavailable {
    background-image: none;
  }

  .callTypeIcons {
    margin: 2px 0 30px;
  }
  h3 i {
    padding: 0 5px;
    color: #999;
  }
  h6 {
    font-size: 60%;
    padding-bottom: 10px;
    font-weight: normal;
    color: #BBB;
  }
  .callTypeIcons {
    i {
      color: #DDD;
      padding: 0 12px;
      &.active {
        color: $blue;
      }
    }
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url('images/drake.png') no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    &.unknown {
      background: url('images/avatar-color.png') no-repeat;
      background-size: cover;
    }
    &.link {
      background: url('images/avatar-link.png') no-repeat;
      background-size: cover;
    }
  }
  .legal {
    font-size: 9px;
    color: #BBB;
    text-align: center;
    padding: 15px 10px 0 10px;
    a {
      color: #999;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }
}

@-webkit-keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(359deg); }
}

.Loading {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('images/loading.png') no-repeat;
  &.failed {
    background: url('images/failed.png') no-repeat;
    background-size: 24px;
    -webkit-animation: none;
    animation: none;
  }
  background-size: 24px;
  margin: 5px;
  -webkit-animation: rotate 1s infinite;
  animation: rotate 1s infinite;
}

.OutgoingCall, .LinkPrompt {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  h3 {
    margin-bottom: 5px;
  }
  h6 {
    font-size: 11px;
    color: #888;
    padding-bottom: 10px;
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url('images/kanye.png') no-repeat;
    background-size: cover;
    margin-bottom: 15px;
  }
}

.OutgoingCall {
  background: url('images/drake-blur.png') top center;
  background-size: cover;
  h6 {
    color: rgba(255, 255, 255, 0.8);
  }
}


.Settings {
  .Option {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
    h4 {
      margin-right: auto;
      font-size: 11px;
    }
    select {
      text-align: right;
    }
  }
}

.Feedback {
  h3 {
    margin-top: 15px;
    text-align: center;
  }
  h6 {
    font-size: 60%;
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal;
    color: #BBB;
  }
  small {
    display: block;
    font-size: 10px;
    color: #CCC;
    text-align: center;
  }
  .Form {
    font-size: 11px;
    color: #444;
    line-height: 24px;
    input {
      margin-right: 0 6px;
      height: 12px;
    }
    input[type=text]{
      padding: 3px 10px;
      height: 22px;
      width: 100%;
    }
  }
  .Back {
    border-radius: 2px;
    border: 1px solid #CCC;
    color: #CCC;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 10px;
    display: inline;
     i {
      margin-right: 8px;
     }
  }
  .Inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Faces {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #DDD;
        background-color: #FEFEFE;
      }
      &.active {
        border: 1px solid #5CC4F7;
        background-color: #FFF;
      }
      cursor: pointer;
      border-radius: 4px;
      flex: 1;
      margin: 0 10px;
      height: 80px;
      background-size: 60px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .happy {
      background-image: url('images/happy.png');
    }
    .sad {
      background-image: url('images/sad.png');
    }
  }
}

.Unavailable {
  h3 {
    padding: 45px 0;
  }
}

.ErrorBar {
  i {
    margin-right: 5px;
  }
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 2px solid #E9E9E9;
  &:hover {
    .Title {
      text-decoration: underline;
    }
    i {
      text-decoration: none;
    }
  }
  &.error {
    .Title {
    color: lighten($red, 85%);
    background: repeating-linear-gradient(
      -45deg,
      $red,
      $red 10px,
      lighten($red, 2%) 10px,
      lighten($red, 2%) 20px
    );
    }
    .Message {
      background: lighten($red, 40%);
      color: $red;
    }
  }
  &.warning {
    .Title {
    color: lighten($yellow, 85%);
    background: repeating-linear-gradient(
      -45deg,
      $yellow,
      $yellow 10px,
      lighten($yellow, 1%) 10px,
      lighten($yellow, 1%) 20px
    );
    }
    .Message {
      background: lighten($yellow, 40%);
      color: darken($yellow, 5%);
    }
  }
  .Title {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-size: 10px;

    .fa-chevron-down {
      transition: all 0.3s;
      position: absolute;
      right: 10px;
      opacity: 0.5;
    }
  }

  .Message {
    padding: 15px 10px;
    text-align: center;
    font-size: 10px;
  }

  &.open {
    .Title .fa-chevron-down {
      transform: translateY(1px) rotate(180deg)
    }
    .Message {
      display: block;
    }
  }
  &.closed {
    .Message {
      display: none;
    }
  }

}


/*
Tipr 1.0.1
Copyright (c) 2013 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
 */

.tipr_content {
  font: 10px / 1.7 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  font-weight: bold;
  background-color: #222;
  padding: 3px 5px;
  border-radius: 3px;
  min-width: 60px;
  max-width: 300px;
  white-space: nowrap;
  text-align: center;
}

.tipr_container_bottom {
  display: none;
  position: absolute;
  margin-top: 13px;
  z-index: 1000;
  border-radius: 3px;
}

.tipr_container_top {
  display: none;
  position: absolute;
  margin-top: -50px;
  z-index: 1000;
  border-radius: 3px;
  background: transparent;
}

.tipr_point_top, .tipr_point_bottom {
  position: relative;
  /*border: 1px solid #dcdcdc;*/
}

.tipr_point_top {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    top: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-top-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-top-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}

.tipr_point_bottom {
  &:after, &:before {
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    bottom: 100%;
    content: "";
    height: 0;
    width: 0;
  }
  &:after {
    border-bottom-color: #222;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
  }
  &:before {
    /*border-bottom-color: #dcdcdc;*/
    border-width: 9px;
    left: 50%;
    margin-left: -9px;
  }
}
